.container
	.alert:first-child
		margin-top: 20px

.alert
	padding: 20px
	text-align: center
	border: 1px solid transparent
	
	&-success
		background-color: #dff0d8
		border-color: #d0e9c6
		color: #3c763d

	&-danger
		background-color: #f2dede
		border-color: #ebcccc
		color: #a94442

	a
		color: inherit
		font-weight: bold
