.arr
	width: 36px
	height: 36px
	border-radius: 50%
	text-indent: 1000px
	overflow: hidden
	position: relative
	display: block
	background-color: fade_out($c-black, .8)
	cursor: pointer
	transition: .2s

	&:hover
		background-color: fade_out($c-black, .6)

	&:before, &:after
		content: ""
		display: block
		width: 8px
		height: 2px
		background-color: #fff
		position: absolute
		left: 14px

	&:before
		transform: rotate(45deg)
		top: 15px

	&:after
		transform: rotate(-45deg)
		top: 20px

	&-prev
		transform: rotate(180deg)

	&-next

	&.view-transparent
		border: 1px solid #505458
		background-color: transparent

		&:hover
			background-color: #505458
			border-color: #505458

		&:before, &:after
			height: 1px
