.article
	margin-bottom: 60px

	&-title
		font-weight: bold
		font-size: 26px
		color: $c-dark-brown
		margin: 0
		margin-bottom: 15px

		a
			color: inherit
			text-decoration: none
			font-weight: inherit
			font-size: inherit

	&-subTitle
		font-size: 12px
		text-transform: uppercase
		color: $c-brown
		margin-bottom: 15px
		letter-spacing: 2px

		a
			color: inherit

	&-date
		&:after
			content: " | "

	&-author
		a
			text-decoration: none

	&-image
		margin-bottom: 15px

		img
			max-width: 100%

	&-description
		margin-bottom: 15px
		line-height: 1.7

	&-more
		font-weight: normal
		padding: 15px 75px
		font-size: 11px
		letter-spacing: 1px
		background: $c-brown
		text-transform: uppercase
		margin: 15px 0
		text-decoration: none
		color: #fff
		display: inline-block

		&:hover
			background: $c-brown
			color: #fff
			text-decoration: none

	&-navigation
		margin-bottom: 30px

