.articleSmall
	background-color: #fff
	display: block
	text-decoration: none
	
	&-image
		width: 100%
		position: relative
		height: 170px
		overflow: hidden

		img
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			object-fit: cover
			transition: .4s

	&-content
		padding: 35px
		text-align: center

	&-title
		color: $c-dark-brown

	&-text
		text-transform: uppercase
		color: $c-dark-brown
		font-weight: bold

	&:hover &
		&-image
			img
				width: 110%
				height: 110%
				margin-top: -5%
				margin-left: -5%