.articleDetail
	&-title
		font-size: 35px
		color: $c-dark-brown
		text-align: center
		padding-bottom: 30px
		position: relative
		margin-bottom: 30px

		&:after
			position: absolute
			bottom: 0
			left: 50%
			width: 80px
			margin-left: -40px
			height: 2px
			background-color: $c-dark-brown
			content: ""

	&-mainImage
		margin: 30px 0

		img
			display: block
			margin: 0 auto
			max-width: 100%
			height: auto

	&-content
		max-width: 620px
		width: 90%
		margin: auto

		div, p
			line-height: 1.7

		img
			max-width: 115%
			height: auto
			display: block
			margin: 0 auto
			margin-left: -7.5%

