.breadcrumb
	//background-color: #f4f4f4
	padding: 0
	border: 0

	&-list
		list-style-type: none
		margin: 0
		padding: 20px 0
		text-align: center

	&-item
		display: inline-block
		position: relative
		color: #888888

		&:after
			content: " | "
		
		&:last-of-type
			&:after
				display: none
			
		
		a, span
			color: #696969
			text-decoration: underline
			padding: 10px

			i
				position: relative
				top: 1px
	
	&.view-image
		background-color: transparent

		.breadcrumb-item
			&:after
				content: "|"
				position: relative
				top: 0
				right: 0
				width: auto
				border: none
				transform: rotate(0deg)
				display: inline
				color: #fff
			
			&:last-of-type
				&:after
					content: ""

			a
				color: #fff
