.btn
	border-radius: 0
	text-transform: uppercase
	padding: 10px 30px
	box-shadow: none
	transition: .2s
	background-color: $c-brown
	color: #fff
	border: 1px solid $c-brown
	background-image: none !important
	text-decoration: none
	font-size: 12px
	cursor: pointer
	display: inline-block

	&:hover
		background-color: darken($c-brown, 10%)
		border: 1px solid darken($c-brown, 10%)
		background-image: none !important
		color: #fff
		text-decoration: none

	&-block
		display: block
		width: 100%

	&-brown
		background-color: $c-brown
		color: #fff
		border: 1px solid $c-brown

		&:hover
			background-color: darken($c-brown, 10%)
			border: 1px solid darken($c-brown, 10%)
			color: #fff

	&-brown-transparent
		background-color: transparent
		color: #fff
		border: 1px solid $c-brown-box-border

		&:hover
			background-color: $c-brown-box-border
			border-color: $c-brown-box-border

	&-light
		background-color: $c-light-brown
		border-color: $c-light-brown
		font-weight: bold

	&-white
		background-color: #fff
		color: $c-brown
		border: 1px solid $c-brown

		&:hover
			background-color: fade($c-brown, 10%)

	&-black
		background-color: $c-black
		color: #fff
		border: 1px solid #4a4f55

		&:hover
			background-color: #4a4f55
			color: #fff
			border: 1px solid #4a4f55

	&-black-transparent
		background-color: transparent
		color: #fff
		border: 1px solid #505458

		&:hover
			background-color: #505458
			border-color: #505458

	&-round
		border-radius: 20px
		text-transform: none
		font-weight: bold


