.checkBox
	cursor: pointer

	&-hidden
		display: none

		&:checked
			&+.checkBox-label
				color: #fff

				.checkBox-checkbox
					border-color: $c-light-brown
					background-color: $c-light-brown

					&:before
						content: "✔"

	&-label
		color: $c-gray
		position: relative
		padding: 5px 0
		padding-left: 25px
		transition: color .2s

		&:hover
			color: #fff

	&-checkbox
		display: inline-block
		width: 15px
		height: 15px
		border: 1px solid $c-gray
		position: absolute
		top: 4px
		left: 0
		color: #fff
		text-align: center
		transition: .2s
