.footer
	color: #fff

	&-top
		background-color: $c-brown

	&-bottom
		background-color: $c-black
		font-size: 11px
		padding: 15px 0

	&-menu

		&-list
			list-style-type: none
			margin: 0
			padding: 40px 0

		&-item
			display: inline-block

			&:after
				content: "|"
			&:last-of-type
				&:after
					content: ""
			&:first-of-type
				margin-left: -5px

			a
				color: #fff
				text-transform: uppercase
				text-decoration: none
				padding: 5px 13px
				font-size: 12px
				font-weight: bold

	&-cookies
		color: #898C8F