.form
	&-fieldset
		border: none
		margin: 0
		padding: 0
		margin-bottom: 20px

		legend
			font-size: 17px
			display: block
			width: 100%
			text-align: center
			position: relative
			padding-bottom: 10px
			margin-bottom: 10px

			&:after
				content: ""
				position: absolute
				bottom: 0
				left: -15px
				right: -15px
				height: 1px 
				background-color: $c-light-brown

	&-row
		margin-bottom: 15px

	&-label
		display: block
		padding-bottom: 5px
		font-weight: bold

	&-input
		display: block

	&-error
		color: $c-red
		font-size: 13px
		text-align: right
		margin-top: 5px