.galery
	position: relative
	margin-bottom: 40px

	&-label
		position: absolute
		top: 0
		right: 0
		background-color: #474747
		text-transform: uppercase
		color: #fff
		padding: 7px 10px
		margin-bottom: 5px
		display: inline-block

	&-mainImage
		overflow: hidden
		text-align: center

		img
			max-width: 100%

	&-thumbnails
		position: absolute
		right: 0
		left: 0
		bottom: 0

	&-smallImage
		display: inline-block
		border: 1px solid $c-gray
		margin-right: 10px 
		display: flex
		align-items: center
		justify-content: center
		width: 80px
		height: 80px
		overflow: hidden
		background-color: #fff

		img
			display: block
			max-width: 100%
			max-height: 100%