.header
	background-color: $c-black
	width: 100%
	z-index: 9
	padding: 10px 0
	transition: padding .2s
	height: 50px

	@media(max-width: 767px)
		position: fixed
		top: 0
		left: 0

	@media(max-width: 992px)
		&-logo
			margin-top: -4px


	&-logo
		float: left
		max-width: 160px
		transition: .4s

		img
			max-width: 100%
			
	&.view-transparent
		background-color: rgba( $c-black, 0.6 )
		position: fixed
		top: 0
		left: 0
		width: 100%


	@media(min-width: 768px)
		padding: 22px 0
		height: auto

		&.view-small
			padding: 13px 0
