.truncate 
  /* Credits to: https://codepen.io/martinwolf/pen/qlFdp */
  $font-size: 20px
  $line-height: 1.0
  $lines-to-show: 5

  display: block /* Fallback for non-webkit */
  display: -webkit-box
  max-width: 540px
  height: $font-size * $line-height * $lines-to-show /* Fallback for non-webkit */
  margin: 0 auto
  font-size: $font-size
  line-height: $line-height
  -webkit-line-clamp: $lines-to-show
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

