.hpSlider
	background-color: $c-light-brown
	background-image: url('../images/bg-homepage.jpg')
	background-size: cover
	background-position: center

	&-container
		position: relative

	&-slide
		padding-top: 50px
		text-align: center
		padding-bottom: 20px
		padding-left: 60px
		padding-right: 60px

	&-image
		margin-bottom: 20px
		margin-top: 20px

		img
			max-width: 100%
			display: block
			margin: auto
			width: 365px !important

	&-title
		font-family: 'Raleway', sans-serif
		color: #fff
		font-weight: bold
		font-size: 190%
		text-decoration: none
		display: block
		margin-bottom: 20px

	&-description
		font-family: 'Raleway', sans-serif
		font-weight: bold
		font-size: 110%
		margin-bottom: 20px

	.owl-nav
		display: block
		position: absolute
		top: 50%
		width: 100%
		z-index: 2
		left: 0
		padding: 0 15px

		div
			width: 40px
			height: 40px
			border-radius: 50%
			background-color: #333
			opacity: 0.3
			overflow: hidden
			text-indent: 1000px
			background-image: url("../../images/ico-arr-right.png")
			background-repeat: no-repeat
			background-position: center
			margin-top: -20px
			+transition

			&:hover
				background-color: fade_in(#000, 0.3)

		.owl-next, .owl-prev
			text-indent: 0
			text-align: center
			background-image: none

			.fa
				font-size: 16px
				margin-top: 12px
				color: white

		.owl-prev
			float: left
			padding-right: 2px

		.owl-next
			float: right
			padding-left: 2px

	@media(min-width: 768px)
		&-slide
			padding-top: 80px
			text-align: left
			display: flex
			align-items: center

		&-image
			width: 50%

		&-text
			width: 50%
