.imageHeader
	background: $c-brown center
	background-size: cover
	min-height: 400px
	padding: 50px 0
	display: flex
	flex-direction: column
	justify-content: center 
	text-align: center
	color: #fff
	text-shadow: 0 0 8px rgba(0, 0, 0, .8)
	text-transform: uppercase

	&-title
		font-weight: bold
		font-size: 50px
		color: #fff
		margin-top: 0
		margin-bottom: 20px

	&-text
		margin-bottom: 0

	&.view-top
		padding-top: 130px
		min-height: 480px
