.menu
	&-background
		display: none

	&-opener
		float: right
		position: relative
		width: 32px
		height: 20px
		cursor: pointer

		span
			position: absolute
			left: 0
			width: 100%
			height: 2px
			background-color: #fff
			transition: .4s

			&:nth-of-type(1)
				top: 0

			&:nth-of-type(2)
				top: 50%
				margin-top: -1px

			&:nth-of-type(3)
				top: 100%
				margin-top: -2px

			&:nth-of-type(4)
				top: 50%
				margin-top: -1px

		&.is-open
			span
				&:nth-of-type(1)
					top: 50%
					margin-top: -1px
					opacity: 0

				&:nth-of-type(2)
					transform: rotate(45deg)

				&:nth-of-type(3)
					top: 50%
					margin-top: -1px
					opacity: 0

				&:nth-of-type(4)
					transform: rotate(-45deg)

	&-list
		margin: 0

	&-item
		display: block

		&.active
			a
				color: #955e14

		a
			display: block
			padding: 10px 15px
			text-decoration: none
			color: #fff
			text-transform: uppercase
			font-size: 12px
			font-weight: bold

			.fa-shopping-cart
				background-image: url("../images/ico-kosik.svg")
				width: 17px
				height: 17px
				margin-bottom: -3px

			.fa-shopping-cart:before
				content: ""

	@media(max-width: 767px)
		position: fixed
		top: 50px
		bottom: 0
		left: 0
		width: 100%
		pointer-events: none

		&-background
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 1
			transition: .4s
			display: block

		&-list
			background-color: $c-black
			padding: 15px 0
			height: 100%
			overflow: auto
			width: 250px
			position: absolute
			right: -250px
			transition: .4s
			z-index: 5

		&.is-open
			pointer-events: all

			.menu-background
				background-color: fade_out($c-black, .6)
			.menu-list
				right: 0

		&.view-transparent &
			&-list
				background-color: rgba( $c-black, .5 )

	@media(min-width: 768px)
		float: right

		&-opener
			display: none

		&-list
			display: inline-block
			float: right
			height: auto
			right: auto
			width: auto
			padding: 0
			background-color: transparent

		&-item
			display: inline-block
			position: relative

			&:hover
				.menu-dropdownBox
					display: block

			a
				display: inline-block
				padding: 8px
				transition: .2s

				&:hover
					color: $c-light-brown

		&-dropdownBox
			padding-top: 26px
			position: absolute
			left: -10px
			z-index: 2
			display: none

			&.view-small
				padding-top: 13px

		&-dropdown
			top: 100%
			padding: 0
			margin: 0
			list-style-type: none
			background-color: $c-black

			li
				padding: 5px 10px
			a
				white-space: nowrap

		&.view-transparent &
			&-dropdown
				background-color: rgba( $c-black, .7 )
