.news
	&-block
		display: flex
		width: 750px
		max-width: 100%
		margin: auto
		align-items: flex-start
		margin-top: 30px
		padding-top: 30px
		position: relative

		&:before
			content: ""
			display: block
			position: absolute
			top: 0
			left: 50%
			margin-left: -95px
			width: 190px
			height: 1px
			background-color: $c-light-brown

	&-date
		width: 100px
		flex: 0 0 100px
		font-size: 16px
		color: $c-brown
		line-height: 1.2

	&-content
		color: $c-black

	&-title
		line-height: 1.2
		font-size: 18px
		font-weight: 600
		margin-top: 0
		margin-bottom: 15px
		color: $c-black
		text-decoration: none

	&-text
		font-size: 16px

	&-more
		text-align: center
		margin-top: 50px