.optionBox
	display: flex
	align-items: center

	&-options
		white-space: nowrap
		input
			max-width: 100px

		.radio
			label
				display: block
				height: 50px
			.img-thumbnail
				margin-bottom: -20px

		.selectInput
			height: 38px

		#input-quantity
			text-align: center
			width: 25%
			min-width: 60px

	&-priceBox
		text-align: left
		padding-left: 35px

	&-price
		font-size: 26px
		font-weight: bold
		color: $c-brown


