.productHeader
	&-title
		font-weight: bold
		font-size: 26px
		color: $c-dark-brown

	&-badges
		list-style-type: none
		margin: 0
		margin-bottom: 20px

	&-badge
		height: 26px
		display: inline-block
		background-repeat: no-repeat
		background-position: left center
		background-size: 26px
		padding-left: 30px
		margin-right: 15px
		margin-bottom: 10px
		width: 25%
		font-size: 90%
		white-space: nowrap

		span
			display: inline-block
			padding: 7px 0

	&-info
		line-height: 1.5
		border-top: 1px solid #e7e7e7
		padding-top: 20px
		margin-bottom: 20px

		dl
			margin: 0

		dt
			display: inline-block
			width: 100px

		dd
			display: inline-block
			font-weight: bold

			&.original-price
				color: $c-red

			&.sale
				color: $c-red
				text-decoration: line-through

			&.stock
				color: $c-green

				&.out
					color: $c-red
