.productFilter
	background-color: $c-light-black
	color: #fff
	padding: 30px 50px
	height: 100%

	&-title
		margin: 0
		font-weight: bold
		font-size: 21px
		text-align: center
		margin-bottom: 20px

	&-list
		list-style-type: none
		margin: 0
		font-size: 13px

	&-package
		li

		a
			color: #fff
			text-decoration: none
			padding: 5px 0
			display: inline-block

	&-flavours

	&.view-full &
		@media(min-width: 768px)
			&-flavours
				column-count: 3

		@media(min-width: 992px)
			&-flavours
				column-count: 5

	@media(min-width: 480px)
		&-flavours
			column-count: 2

	@media(min-width: 992px)
		&-flavours
			column-count: 3
