.productBox
	position: relative
	overflow: hidden
	display: block
	text-align: center
	background-color: #fff
	margin: auto
	max-width: 320px

	a
		text-decoration: none

	&:hover &
		&-overlay 
			opacity: 1

		&-image
			top: 30px

		&-title
			&.view-primary
				opacity: 0


	&-image
		transition: .4s
		position: relative
		top: 0

		img
			margin: auto

	&-badge
		color: #fff
		text-transform: uppercase
		position: absolute
		top: 0px
		right: 0px
		font-size: 85%
		padding: 7px

		&-red
			background-color: $c-red
			padding: 7px 10px

		&-brown
			background-color: $c-dark-brown
			padding: 7px 12px

	&-title
		font-weight: bold
		color: $c-black
		font-size: 15px
		padding: 0 25px
		margin-top: 0
		margin-bottom: 35px
		transition: .4s
		height: 35px

	&-overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0
		background-color: rgba(#fff, 0.7)
		display: flex
		flex-direction: column
		justify-content: center
		padding: 0 25px
		transition: .4s

	&-price
		margin-top: 50px
		text-transform: uppercase
		color: $c-brown
		font-weight: bold

		.price-old
			display: block
			text-decoration: line-through
			font-size: 85%
			color: $c-red
