.referenceBox
	background-color: #2b3136
	color: #fff 
	padding: 50px
	text-align: center

	@media(min-width: 480px)
		max-height: 585px

	&-title
		color: $c-darker-brown
		text-transform: uppercase
		display: block
		font-size: 12px
		letter-spacing: 3px
		font-weight: 200

	@media(min-width: 480px)
		&-slide
			max-height: 400px
			overflow: hidden

	&-text
		font-size: 20px
		quotes: "“" "”" "‘" "’"
		font-family: "Droid Serif", "Times New Roman", serif

		&:before
			content: open-quote

		&:after
			content: close-quote

	&-name
		font-size: 16px

		&:before
			content: ""
			display: block
			width: 75px
			height: 2px
			background-color: $c-darker-brown
			margin: 30px auto

	&-controls
		display: block
		margin-top: 50px

		&-prev, &-next
			text-indent: 0
			padding-top: 8px

			&:before, &:after
				display: none

		&-prev
			float: left
			transform: rotate(0)

		&-next
			float: right
