.review
	margin-bottom: 40px

	&-header
		color: $c-brown

	&-rating
		display: inline-block
		margin-right: 10px
		color: $c-brown

		&-empty
			opacity: .2

	&-count
		color: $c-black
		display: inline-block

		span
			cursor: pointer

	&-author
		display: inline-block
		text-transform: uppercase
		font-size: 15px
		font-weight: bold
		margin-right: 10px

	&-date
		display: inline-block
		text-transform: uppercase
		font-size: 11px
		font-weight: bold

	&-text
		padding-top: 10px

	&-pagination

	&-form
		max-width: 500px