.router
	padding: 60px 0
	display: flex 
	flex-wrap: wrap
	justify-content: center

	&-item
		text-align: center
		width: 100%
		padding: 0 20px

		a
			text-decoration: none
	
	&-img
		padding-top: 25px
		height: 70px

		img
			height: 42px
		
	&-title
		text-transform: uppercase
		font-size: 12px
		font-weight: bold
		color:  $c-brown
		padding: 25px 0
		position: relative
		margin: 0
		margin-bottom: 20px

		&:after
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 50%
			width: 80px
			margin-left: -40px
			height: 2px
			background-color:  $c-brown
		
	
	&-text
		margin-bottom: 30px
		line-height: 1.5em
		min-height: 3em
	 
	@media(min-width: 480px)
		&-item
			width: 50% 

	@media(min-width: 992px)
		&-item
			width: 25% 
