.sectionTitle
	display: block
	text-align: center

	&-primary
		font-weight: bold
		font-size: 35px
		margin: 0
		color: $c-dark-brown
	
	&-secondary
		text-transform: uppercase
		color: $c-brown
		display: block
		font-size: 12px
		margin-bottom: 16px
		font-weight: bold
		letter-spacing: 3px
		font-weight: 200
	
