.shopList
	border-bottom: 1px solid gray
	transition: .2s

	&-container
		max-width: 400px
		margin: auto

	&-header
		color: $c-brown
		padding: 20px
		text-transform: uppercase
		position: relative
		cursor: pointer
		font-weight: bold
		transition: .2s

	&-icon
		position: absolute
		right: 20px
		top: 50%
		transform: translate(0, -50%)

	&-content
		display: none
		padding: 1px 20px
		background-color: #fff

		p
			&:first-line
				font-weight: bold
				color: $c-brown

	&.is-open
		border-bottom: 2px solid $c-brown

	&.is-open &
		&-header
			color: #fff
			background-color: $c-brown
