.sidebar
	background: #272b30
	padding: 30px
	margin: 0 30px
	color: #fff
	margin-bottom: 30px

	&-title
		color: #fff
		font-family: Raleway, sans-serif
		font-size: 26px
		margin-bottom: 20px
		font-weight: bold

	ul
		padding: 0
		margin: 0

		li
			list-style: none



	a
		text-decoration: none
		color: #9C9C9C
		display: inline-block
		font-size: 15px
		padding: 5px 0

		&:hover
			color: #fff

		&:before
			content: "-"
			margin-right: 10px

		

