.tabs
	&-nav
		list-style-type: none
		margin: 0
		border-bottom: 1px solid #e7e7e7
		margin: 0 -15px

		&-item
			display: inline-block
			margin-right: 15px

		&-link
			display: inline-block
			padding: 15px
			font-size: 12px
			font-weight: bold
			position: relative
			text-transform: uppercase
			color: #696969
			text-decoration: none
			cursor: pointer

			&.is-active
				color: $c-brown

				&:after
					content: ""
					position: absolute
					top: 100%
					left: 15px
					right: 15px
					height: 3px
					background-color: $c-brown
					margin-top: -1px

	&-content
		padding: 50px 0

	&-panel
		display: none

		&-half
			width: 100%

		p, div
			line-height: 1.7

		img
			max-width: 100% !important
			height: auto !important

		&.is-active
			display: flex
			flex-wrap: wrap

	@media(min-width: 768px)
		&-panel
			&-half
				width: 50%
			
				&:last-of-type
					padding-left: 50px
