.watchUs
	background-color: #fff
	padding-top: 80px
	padding-bottom: 70px

	&-social
		text-align: center
		margin-top: 20px

	&-socialIcon
		display: inline-block
		width: 40px
		height: 40px
		border-radius: 50%
		margin: 0 5px
		background: #955e14 no-repeat center

		i
			font-size: 20pt
			color: #fff
			padding-top: 8px

		&:hover
			background-color: $c-dark-brown
