{{ header }}
<div class="simplePage has-padding">
<div class="breadcrumb">
    <ul class="breadcrumb-list">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item">
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
<div class="container">

    <div class="articleDetail">

        
        <div class="articleDetail-content">
            <h1 class="articleDetail-title">Název článku</h1>
        </div>

        
                <div class="articleDetail-mainImage">
            <img src="https://via.placeholder.com/1140x700" alt="Název článku" class="img-responsive">
        </div>
        
        <div class="articleDetail-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

                
    </div>

</div>
</div>
{{ footer }}