{% set categories = [
    {
        title: "Novinky",
        link: "#"
    },
    {
        title: "Zdravá výživa",
        link: "#"
    },
    {
        title: "Zajímavosti a fakta",
        link: "#"
    },
    {
        title: "Rozhovory",
        link: "#"
    },
    {
        title: "Soutěže",
        link: "#"
    }
] %}
{% set articles = [
    {
        title: "Nějaký název článku magazínu",
        date: "1. 1. 2018",
        author: "Jméno",
        authorLink: "#",
        image: "https://via.placeholder.com/780x500",
        perex: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.",
        link: "/index.php?route=article/detail"
    },
    {
        title: "Nějaký název článku magazínu",
        date: "1. 1. 2018",
        author: "Jméno",
        authorLink: "#",
        image: "https://via.placeholder.com/780x500",
        perex: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.",
        link: "/index.php?route=article/detail"
    }
] %}

{{ header }}
<div class="simplePage">
    <div class="imageHeader view-top" style="background-image: url('/catalog/view/theme/diplomtheme/images/bg-divider.jpg')">
        <div class="container">
            <h1 class="imageHeader-title">Články</h1>
            <div class="breadcrumb view-image">
                <ul class="breadcrumb-list">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb.href }}">
                                {{ breadcrumb.text == '<i class="fa fa-home"></i>' ? "Domů" : breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
<div class="articleList">

  <div class="container">
    <div class="articleList-content">
      <div class="articleList-menu">
        <div class="sidebar">
          <div class="sidebar-title">Kategorie</div>
          <ul>
            {% for category in categories %}
                <li><a href="{{ category.link }}">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
      </div>
  </div>
  <div class="articleList-articles">
    {% for article in articles %}
      <div class="article">
          <h2 class="article-title">
            <a href="{{ article.link }}">
                {{ article.title }}
            </a>
          </h2>

          <div class="article-subTitle">
              <span class="article-date">{{ article.date }}</span>
                  <span class="article-author">
                    <a href="{{ article.authorLink }}">Autor: {{ article.author }}</a>
                    </span>
                </div>

                <div class="article-image">
                  <img src="{{ article.image }}" alt="{{ article.title }}"/>
              </div>
              
              <div class="article-description">{{ article.perex }}</div>
                <a class="article-more" href="{{ article.link }}">Celý článek</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{{ footer }}