<div class="productBox">
  <a href="{{ product.href }}">
    <div class="productBox-image">
      <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
    </div>
    <h4 class="productBox-title view-primary">{{ product.name }}</h4>
    <div class="productBox-overlay">
      <div>
        <h4 class="productBox-title">{{ product.name }}</h4>

        <span class="btn btn-brown">
          <span>Detail</span>
        </span>

        {% if product.price %}
        <p class="productBox-price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
        </p>
        {% endif %}
      </div>
    </div>
  </a>
</div>