{{ header }}
<div id="product-category">

    <div class="imageHeader view-top" style="background-image: url('/catalog/view/theme/diplomtheme/images/bg-divider.jpg')">
        <div class="container">
            <h1 class="imageHeader-title">{{ heading_title }}</h1>
            <div class="breadcrumb view-image">
                <ul class="breadcrumb-list">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb.href }}">
                                {{ breadcrumb.text == '<i class="fa fa-home"></i>' ? "Domů" : breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  <div class="category">
  <div class="container">
    <div class="category-filter <?php echo $categories ? '' : 'view-flavours' ?>">
      {% if categories %}
        <div class="category-filter-package">
          <div class="productFilter">
            <div class="content">
              <h3 class="productFilter-title">Vyberte si balení</h3>
              <ul class="productFilter-list productFilter-package">
                {% for category in categories %}
                  <li>
                    <a href="{{ category.href }}">{{ category.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

  {% if products %}
    <div id="product-grid-wrapper">
      <div class="category-grid">
        {% for product in products %}
          <div class="category-grid-box product-layout product-{{ product.product_id }}">
            {% include 'diplomtheme/template/product/box.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 text-left">{{ pagination }}</div>
      <div class="col-sm-6 text-right">{{ results }}</div>
    </div>
  {% endif %}



  <div class="row">
    <div id="content" class="{{ class }}">
      {% if not categories and not products %}
        <p>{{ text_empty }}</p>
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
{{ footer }} 
