{{ header }}
<div id="product-product" class="productPage">
  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item">
          <a href="{{ breadcrumb.href }}">
              {{ breadcrumb.text == '<i class="fa fa-home"></i>' ? "Domů" : breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <div>
      <div>
        <div class="productPage-header">
          <div class="productPage-galery">
            <div class="galery">
              {# TODO - gallery labels #}
              {% if thumb %}
                <div class="galery-mainImage">
                  <a href="{{ image.popup }}" data-lightbox="productGalery" title="{{ heading_title }}">
                    <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                  </a>
                </div>
              {% endif %}
              {% if images %}
                <div class="galery-thumbnails">
                  {% for image in images|slice(0, 3) %}
                    <a class="galery-smallImage" data-lightbox="productGalery" href="{{ image.popup }}" title="{{ heading_title }}"> 
                      <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div id="product" class="productPage-info productHeader">
            {% if review_status %}
              <div class="review-header">
                <div class="review-rating">
                  {% for i in 1..5 %}
                    {% if rating < i %}
                      <i class="fa fa-star review-rating-empty"></i>
                    {% else %}
                      <i class="fa fa-star review-rating-full"></i>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="review-count">
                  <span class="js-tabs js-scroll-to" data-target="#product-tabs" data-offset="-80" data-panel="#tab-review" data-tabs="#product-tabs">{{ reviews }}</span>
                  |
                  <span class="js-tabs js-scroll-to" data-target="#product-tabs" data-offset="-80" data-panel="#tab-review" data-tabs="#product-tabs">{{ text_write }}</span>
                </div>
              </div>
            {% endif %}
            <h1 class="productHeader-title">{{ heading_title }}</h1>
            {# TODO - product badges #}
            {% if price %}
              <div class="productHeader-info">
                {% if special %}
                  <dl>
                    <dt>Původní cena:</dt>
                    <dd class="original-price">{{ price }} s DPH</dd>
                  </dl>
                  <dl>
                    <dt>Sleva:</dt>
                    {# TODO - calc percentage and remove price #}
                    <dd class="sale">{{ special }} ##%</dd>
                  </dl>
                {% endif %}
                <dl>
                  <dt>{{ text_stock }}</dt>
                  {# TODO - if not in stock add class .stock.out #}
                  <dd class="stock">{{ stock }}</dd>
                </dl>

                {% if discounts %}
                  {% for discount in discounts %}
                    <dl>
                      <dt>
                        {{ discount.quantity }}
                      </dt>
                      <dd>
                        {{ text_discount }}{{ discount.price }}
                      </dd>
                    </dl>
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}
            <div class="optionBox">
              <div class="optionBox-options">
                <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="textInput" />
                <label for="input-quantity">ks</label>
                {% if options %}
                  {% for option in options %}
                    {% if option.type == 'select' %}
                        <label for="input-option{{ option.product_option_id }}">&times; </label> <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="selectInput">
                      <option value="">{{ text_select }}</option>
                      {% for option_value in option.product_option_value %}
                        <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                          {% if option_value.price %}
                            ({{ option_value.price_prefix }}{{ option_value.price }})
                          {% endif %} </option>
                        {% endfor %}
                      </select>
                    {% endif %}
                    {% if option.type == 'radio' %}
                      <div class="form-group{% if option.required %} required {% endif %}">
                        <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                          <div class="radio">
                            <label>
                              <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                              {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                                {{ option_value.name }}
                                {% if option_value.price %}
                                  ({{ option_value.price_prefix }}{{ option_value.price }})
                                {% endif %} </label>
                              </div>
                            {% endfor %} </div>
                          </div>
                        {% endif %}
                        {% if option.type == 'checkbox' %}
                          <div class="form-group{% if option.required %} required {% endif %}">
                            <label class="control-label">{{ option.name }}</label>
                            <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                  {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                    {{ option_value.name }}
                                    {% if option_value.price %}
                                      ({{ option_value.price_prefix }}{{ option_value.price }})
                                    {% endif %} </label>
                                  </div>
                                {% endfor %} </div>
                              </div>
                            {% endif %}
                            {% if option.type == 'text' %}
                              <div class="form-group{% if option.required %} required {% endif %}">
                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                              </div>
                            {% endif %}
                            {% if option.type == 'textarea' %}
                              <div class="form-group{% if option.required %} required {% endif %}">
                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                              </div>
                            {% endif %}
                            {% if option.type == 'file' %}
                              <div class="form-group{% if option.required %} required {% endif %}">
                                <label class="control-label">{{ option.name }}</label>
                                <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                              </div>
                            {% endif %}
                            {% if option.type == 'date' %}
                              <div class="form-group{% if option.required %} required {% endif %}">
                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                <div class="input-group date">
                                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" aria-label="Datum"><i class="fa fa-calendar"></i></button>
                                  </span></div>
                                </div>
                              {% endif %}
                              {% if option.type == 'datetime' %}
                                <div class="form-group{% if option.required %} required {% endif %}">
                                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                  <div class="input-group datetime">
                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" aria-label="Datum"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                  </div>
                                {% endif %}
                                {% if option.type == 'time' %}
                                  <div class="form-group{% if option.required %} required {% endif %}">
                                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                    <div class="input-group time">
                                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" aria-label="Datum"><i class="fa fa-calendar"></i></button>
                                      </span></div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                              {% if recurrings %}
                                <hr>
                                <h3>{{ text_payment_recurring }}</h3>
                                <div class="form-group required">
                                  <select name="recurring_id" class="form-control">
                                    <option value="">{{ text_select }}</option>
                                    {% for recurring in recurrings %}
                                      <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                                    {% endfor %}
                                  </select>
                                  <div class="help-block" id="recurring-description"></div>
                                </div>
                              {% endif %}
                              <div class="form-group">
                                <input type="hidden" name="product_id" value="{{ product_id }}" />
                                <br />
                                <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                              </div>
                            </div>
                            <div class="optionBox-priceBox">

                              {% if price %}
                                {% if not special %}
                                  <div class="optionBox-price" data-base-price="{{ price }}">{{ price }}</div>
                                  <span>vč. DPH</span>
                                {% else %}
                                  <div class="optionBox-price" data-base-price="<?php echo (float) $special; ?>">{{ special }}</div>
                                  <span>vč. DPH</span>
                                {% endif %}
                              {% endif %}
                            </div>
                          </div>


                          {% if minimum > 1 %}
                            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                          {% endif %}
                        </div>
                      </div>



                      <div>
                        <div class="tabs" id="product-tabs">
                          <ul class="tabs-nav">
                            <li class="tabs-nav-item">
                              <span class="tabs-nav-link is-active js-tabs" id="tab-description-link" data-panel="#tab-description" data-tabs="#product-tabs">
                                {{ tab_description }}
                              </span>
                            </li>
                            {% if review_status %}
                              <li class="tabs-nav-item">
                                <span class="tabs-nav-link js-tabs" id="tab-review-link" data-tabs="#product-tabs" data-panel="#tab-review">
                                  {{ tab_review }}
                                </span>
                              </li>
                            {% endif %}
                          </ul>
                          <div class="tabs-content">
                            <div class="tabs-panel is-active" id="tab-description">
                              <div class="tabs-panel-half">
                                <h2>{{ heading_title }}</h2>
                                {{ description }}
                              </div>
                              <div class="tabs-panel-half">
                                {% if attribute_groups %}
                                  <div class="tab-pane" id="tab-specification">
                                    {% for attribute_group in attribute_groups %}
                                      <h2>{{ attribute_group.name }}</h2>
                                      <table class="table view-striped">
                                        <tbody>
                                          {% for attribute in attribute_group.attribute %}
                                            <tr>
                                              <td>{{ attribute.name }}</td>
                                              <td>{{ attribute.text }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    {% endfor %}
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                            {% if review_status %}
                              <div class="tabs-panel" id="tab-review">
                                <form class="form-horizontal" id="form-review">
                                  <div id="review"></div>
                                  <h2>{{ text_write }}</h2>
                                  {% if review_guest %}
                                    <div class="review-form">
                                      <div class="form-row">
                                        <label class="form-label" for="input-name">{{ entry_name }}</label>
                                        <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="textInput" />
                                      </div>
                                      <div class="form-row">
                                        <label class="form-label" for="input-review">{{ entry_review }}</label>
                                        <textarea name="text" rows="5" id="input-review" class="textInput"></textarea>
                                        <div class="help-block">{{ text_note }}</div>
                                      </div>
                                      <div class="form-row">
                                        <label class="form-label">{{ entry_rating }}</label>
                                        {{ entry_bad }}&nbsp;
                                        <input type="radio" name="rating" value="1" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="2" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="3" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="4" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="5" />
                                        &nbsp;{{ entry_good }}
                                      </div>
                                      {{ captcha }}
                                      <div class="form-row">
                                        <div class="pull-right">
                                          <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                                        </div>
                                      </div>
                                    </div>
                                  {% else %}
                                    {{ text_login }}
                                  {% endif %}
                                </form>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {% if products %}
                  <div class="productPage-related">
                    <div class="container">
                      <h3 class="productPage-related-title">{{ text_related }}</h3>
                      <div class="productPage-grid">
                        {% for product in products %}
                          <div class="category-grid-box product-layout product-{{ product.product_id }}">
                            {% include 'diplomtheme/template/product/box.twig' %}
                          </div>
                        {% endfor %} 
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <script><!--
              $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
               $.ajax({
                url: 'index.php?route=product/product/getRecurringDescription',
                type: 'post',
                data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
                dataType: 'json',
                beforeSend: function() {
                 $('#recurring-description').html('');
               },
               success: function(json) {
                 $('.alert-dismissible, .text-danger').remove();

                 if (json['success']) {
                  $('#recurring-description').html(json['success']);
                }
              }
            });
             });
              //--></script> 
              <script><!--
              $('#button-cart').on('click', function() {
               $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',
                beforeSend: function() {
                 $('#button-cart').button('loading');
               },
               complete: function() {
                 $('#button-cart').button('reset');
               },
               success: function(json) {
                 $('.alert-dismissible, .text-danger').remove();
                 $('.form-group').removeClass('has-error');

                 if (json['error']) {
                  if (json['error']['option']) {
                   for (i in json['error']['option']) {
                    var element = $('#input-option' + i.replace('_', '-'));

                    if (element.parent().hasClass('input-group')) {
                     element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                   } else {
                     element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                   }
                 }
               }

               if (json['error']['recurring']) {
                 $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
               }

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
             });
              //--></script> 
              <script><!--
                  $(document).ready(function() {

                      $('.date').datetimepicker({
                          language: '{{ datepicker }}',
                          pickTime: false
                      });

                      $('.datetime').datetimepicker({
                          language: '{{ datepicker }}',
                          pickDate: true,
                          pickTime: true
                      });

                      $('.time').datetimepicker({
                          language: '{{ datepicker }}',
                          pickDate: false
                      });
                  });

              $('button[id^=\'button-upload\']').on('click', function() {
               var node = this;

               $('#form-upload').remove();

               $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

               $('#form-upload input[name=\'file\']').trigger('click');

               if (typeof timer != 'undefined') {
                 clearInterval(timer);
               }

               timer = setInterval(function() {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                 clearInterval(timer);

                 $.ajax({
                  url: 'index.php?route=tool/upload',
                  type: 'post',
                  dataType: 'json',
                  data: new FormData($('#form-upload')[0]),
                  cache: false,
                  contentType: false,
                  processData: false,
                  beforeSend: function() {
                   $(node).button('loading');
                 },
                 complete: function() {
                   $(node).button('reset');
                 },
                 success: function(json) {
                   $('.text-danger').remove();

                   if (json['error']) {
                    $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                  }

                  if (json['success']) {
                    alert(json['success']);

                    $(node).parent().find('input').val(json['code']);
                  }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                 alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
               }
             });
               }
             }, 500);
             });
              //--></script> 
              <script><!--
              $('#review').delegate('.pagination a', 'click', function(e) {
                e.preventDefault();

                $('#review').fadeOut('slow');

                $('#review').load(this.href);

                $('#review').fadeIn('slow');
              });

              $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

              $('#button-review').on('click', function() {
               $.ajax({
                url: 'index.php?route=product/product/write&product_id={{ product_id }}',
                type: 'post',
                dataType: 'json',
                data: $("#form-review").serialize(),
                beforeSend: function() {
                 $('#button-review').button('loading');
               },
               complete: function() {
                 $('#button-review').button('reset');
               },
               success: function(json) {
                 $('.alert-dismissible').remove();

                 if (json['error']) {
                  $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                  $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                  $('input[name=\'name\']').val('');
                  $('textarea[name=\'text\']').val('');
                  $('input[name=\'rating\']:checked').prop('checked', false);
                }
              }
            });
             });

              $(document).ready(function() {
               $('.thumbnails').magnificPopup({
                type:'image',
                delegate: 'a',
                gallery: {
                 enabled: true
               }
             });
             });
              //--></script> 
              {{ footer }} 
