.articleList
	background-color: #f4f4f4

	&-content
		margin-top: 60px

	&-menu

	&-articles

	@media(min-width: 768px)
		&-content
			display: flex

		&-menu
			order: 2
			flex: 0 0 360px
			width: 360px

		&-articles
			order: 1