.product-category
	background-color: #f4f4f4

.category
	background-color: #f4f4f4

	&-grid
		display: flex
		flex-wrap: wrap
		//margin: 0 -15px
		align-items: stretch

		&-box
			width: 100%
			padding: 15px 0

	&-filter
		margin-top: 20px
		display: flex
		flex-wrap: wrap

		&-package
			width: 100%
			padding-bottom: 30px

		&-flavour
			width: 100%

	@media(min-width: 480px)
		&-grid
			&-box
				width: 50%

	@media(min-width: 768px)
		&-filter
			//&-package
			//	width: 33%
			//	padding-right: 15px
			//	padding-bottom: 0
            //
			//&-flavour
			//	width: 66%
			//	padding-left: 15px

			&.view-flavours &
				&-flavour
					width: 100%
					padding-left: 0

	@media(min-width: 992px)
		&-grid
			&-box
				width: 33%
