.checkout
	&-shipping-method
		&-title
			&-multishipping
				display: none

.custom-field
	label
		display: none

.so-onepagecheckout.layout2
	.checkout-content
		fieldset
			padding-left: 0
			padding-right: 0

		.form-horizontal .form-group
			margin-left: 0
			margin-right: 0

		.secondary-title
			font-size: 20px

		.fa
			margin-right: 10px

	.confirm-section
		label
			width: 100%

		.box-inner
			text-align: right

		textarea
			background: transparent
			letter-spacing: 3px
			margin-bottom: 15px
			padding: 15px
			font-size: 85%
			border: 2px solid #ddd
			font-family: 'Raleway', sans-serif
			line-height: 1.2
			width: 100%
			min-height: 100px
			border-radius: 0

	#button-confirm
		display: none

	.payment
		&-multishipping_cod
			display: none

	.check-terms
		.text-danger
			font-weight: bold
			margin: 10px 0
			font-size: 120%

.checkout-login
	display: none

.checkout-cart
	table
		.input-group.btn-block
			display: table

			.btn
				padding: 8px 12px
				padding-top: 9px
				border: 0
				border-top: 1px

			.form-control
				min-width: 50px

	#accordion
		.btn
			padding: 8px 12px
			padding-top: 9px
			border: 0

.checkout-product
	.img-thumbnail
		float: left
		margin-right: 10px

	.form-control
		min-width: 50px

#coupon_voucher_reward
	.btn
		padding: 8px 12px
		padding-top: 9px
		border: 0
