.homepage
	&-products
		background-color: #f4f4f4
		padding: 50px 0

		&-grid
			display: flex
			flex-wrap: wrap

		&-box
			width: 100%
			padding: 20px

		&-reference

		&-all
			text-align: center
			margin-top: 50px
			width: 100%

			.btn
				padding: 20px 40px

		@media(min-width: 480px)
			&-box
				width: 50%

		@media(min-width: 992px)
			&-grid
				width: 50%
				float: left 
			&-reference
				width: 50% 
				float: right
				margin-top: 20px

	&-news
		padding: 50px 0

	&-magazin
		background-color: #f4f4f4
		padding: 50px 0

		&-grid
			display: flex
			margin: 0 -15px
			margin-top: 40px
			justify-content: center
			flex-wrap: wrap

			&-block
				width: 100%
				padding: 0 15px
				padding-bottom: 30px
				max-width: 350px

			@media(min-width: 769px)
				&-block
					width: 50%

			@media(min-width: 992px)
				&-block
					width: 33%
