.information-contact

	.contact-form

		fieldset
			border: 0
			margin: 0
			padding: 0

		.textInput
			background: transparent
			letter-spacing: 3px
			margin-bottom: 15px
			padding: 15px
			font-size: 85%
			border: 2px solid #ddd
			font-family: 'Raleway', sans-serif
			line-height: 1.2

		.btn
			padding: 15px
			font-size: 80%
			background-color: $c-light-black
			font-family: 'Raleway', sans-serif
			letter-spacing: 1px
