.productPage
	padding-top: 50px

	&-header
		display: flex
		flex-wrap: wrap

	&-galery
		width: 100%
		padding-top: 30px

	&-info
		width: 100%
		padding-top: 30px
		margin-bottom: 30px

	&-related
		background-color: #f4f4f4
		padding: 50px 0

		&-title
			font-weight: bold
			font-size: 26px
			color: $c-dark-brown
			text-align: center

	&-grid
		display: flex
		flex-wrap: wrap
		margin: 0 -15px
		align-items: stretch

		&-box
			width: 100%
			padding: 15px

	@media(min-width: 480px)
		&-grid
			&-box
				width: 50%

	@media(min-width: 768px)
		padding-top: 80px

		&-galery
			width: 50%
			padding-right: 40px

		&-info
			width: 50%

		&-grid
			&-box
				width: 33%

	@media(min-width: 992px)
		&-grid
			&-box
				width: 25%