.simple-blog-category
	background-color: #f4f4f4

.simplePage
	background-color: #f4f4f4
	padding-bottom: 40px

	&.has-padding
		padding-top: 50px

	@media(min-width: 768px)

		&.has-padding
			padding-top: 80px

		&-content
			display: flex

		&-half
			width: 50%
			flex: 0 0 50%

			&:first-of-type
				padding-right: 20px

			&:last-of-type
				padding-left: 20px
