*
	box-sizing: border-box

body
	font-size: 14px
	font-family: 'Raleway', sans-serif
	margin: 0
	padding: 0

h1, .is-h1
	font-weight: bold
	font-size: 35px
	color: $c-dark-brown

ul
	padding: 0

a
	color: $c-brown

	&:hover
		color: $c-dark-brown


// lightbox rewrites
.lb-data .lb-number
	display: none !important
