// colors
$c-light-brown: #ac9581
$c-brown: #955e14
$c-darker-brown: #CA964F
$c-dark-brown: #4c3001
$c-black: #161a1c
$c-light-black: #252c2f
$c-gray: #969696
$c-green: #4F7B28
$c-red: #D5231B
$c-beige: #d5bca6

$c-brown-box: #4c3617
$c-brown-box-border: rgb(139,83,20)

=clear-after
	&:after
		content: ""
		display: block
		clear: both

=transition($dur: 0.2s)
	-webkit-transition: $dur
	transition: background-color $dur linear

=rotate($ang)
	-ms-transform: rotate($ang)
	-webkit-transform: rotate($ang)
	transform: rotate($ang)

=scale($s1: 1, $s2: 1)
	-ms-transform: scale($s1, $s2)

	/* IE 9
	-webkit-transform: scale($s1, $s2)

	/* Safari
	transform: scale($s1, $s2)

=translate($attr1: 0, $attr2: 0)
	-ms-transform: translate($attr1, $attr2)

	/* IE 9
	-webkit-transform: translate($attr1, $attr2)

	/* Safari
	transform: translate($attr1, $attr2)
