<div class="watchUs">
  <div class="container">
    <div class="sectionTitle">
      <span class="sectionTitle-secondary">Zajímá vás, co je u nás nového?</span>
      <h2 class="sectionTitle-primary">Sledujte nás</h2>
    </div>
    <div class="watchUs-social">
      <a href="#" class="watchUs-socialIcon" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="#" class="watchUs-socialIcon" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <nav class="footer-menu">
        <ul class="footer-menu-list">
          {% if informations %}
           {% for information in informations %}
            <li class="footer-menu-item">
              <a href="{{ information.href }}">{{ information.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
        <li class="footer-menu-item">
          <a href="/index.php?route=article/detail">O nás</a>
        </li>
        <li class="footer-menu-item">
          <a href="/index.php?route=article/list">Články</a>
        </li>
        <li class="footer-menu-item">
          <a href="{{ account }}">{{ text_account }}</a>
        </li>
        <li class="footer-menu-item">
          <a href="{{ contact }}">{{ text_contact }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <span class="footer-copy">
      &copy; {{ "now"|date("Y") }} Název firmy ® Všechna práva vyhrazena.
    </span>
    <span class="footer-cookies">Tato webová stránka používá cookies. Používáním našich webových stránek vyjadřujete svůj souhlas s použitím cookies.</span>
  </div>
</div>
</footer>
</body>
</html>