<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% else %}
    <meta name="description" content="Popis stránky" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="catalog/view/theme/diplomtheme/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="catalog/view/theme/diplomtheme/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="catalog/view/theme/diplomtheme/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="catalog/view/theme/diplomtheme/images/favicon/manifest.json">
  <link rel="mask-icon" href="catalog/view/theme/diplomtheme/images/favicon/safari-pinned-tab.svg" color="#955e14">
  <link rel="shortcut icon" href="catalog/view/theme/diplomtheme/images/favicon/favicon.ico">
  <meta name="msapplication-config" content="catalog/view/theme/diplomtheme/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#955e14">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600&amp;subset=latin-ext" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha384-pPttEvTHTuUJ9L2kCoMnNqCRcaMPMVMsWVO+RLaaaYDmfSP5//dP6eKRusbPcqhZ" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js" defer></script>
  <script src="catalog/view/javascript/common.js" defer></script>
  <script src="catalog/view/theme/diplomtheme/javascript/default.js" defer></script>

  <link href="catalog/view/theme/diplomtheme/stylesheet/index.css" rel="stylesheet">

  <!--Script-->
  {% for script in scripts %}
    <script src="{{ script }}" defer></script>
  {% endfor %}
  <!--End Script-->

  <script src="catalog/view/javascript/common.js"></script>

  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}

  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}

</head>
<body>
  <header class="header view-transparent">
    <div class="container">
      <div class="header-logo">
        <a href="{{ home }}"><img src="catalog/view/theme/diplomtheme/images/logo.png" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
      </div>
      <div id="menu-opener" class="menu-opener">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="menu" id="menu">
        <div class="menu-background js-close-menu"></div>
        <ul class="menu-list">
          {{ menu }}
          <li class="menu-item">
            <a href="/index.php?route=information/article">O nás</a>
          </li>
          <li class="menu-item">
            <a href="/index.php?route=article/list">Články</a>
          </li>
          <li class="menu-item">
            <a href="#">Kontakt</a>
          </li>

          <li class="menu-item">
            <a href="{{ account }}" title="{{ text_account }}">
              <i class="fa fa-user"></i>
              {{ text_account }}
            </a>
            <div class="menu-dropdownBox">
              <ul class="menu-dropdown">

                {% if logged %}
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                  <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                  <li><a href="{{ download }}">{{ text_download }}</a></li>
                  <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                {% else %}
                  <li><a href="{{ register }}">{{ text_register }}</a></li>
                  <li><a href="{{ login }}">{{ text_login }}</a></li>
                {% endif %}
              </ul>
            </div>
          </li>
          <li class="menu-item">
            {{ cart }}
          </li>
        </ul>
      </nav>
    </div>
  </header>


{# TODO - kouknout na {{ menu }} #}