{{ header }}
<div class="content common-home">
    {% set productSlides = [
        {
            link: "#",
            title: "Apple Cinema 30°",
            description: "Popis produktu",
            image: "https://via.placeholder.com/400"
        },
        {
            link: "#",
            title: "Apple Cinema 30°",
            description: "Popis produktu",
            image: "https://via.placeholder.com/400"
        }
    ] %}
    <div class="hpSlider">
        <div class="container hpSlider-container">
            <div id="hpSlider">
                {% for product in productSlides %}
                <div class="hpSlider-slide">
                    <div class="hpSlider-image">
                        <a href="{{ product.link }}">
                            <img src="{{ product.image }}" alt="{{ product.title }}" title="{{ product.title }}" />
                        </a>
                    </div>
                    <div class="hpSlider-text">
                        <a href="{{ product.link }}" class="hpSlider-title">
                            {{ product.title }}
                        </a>
                        <div class="hpSlider-description">
                            {{ product.description }}
                        </div>
                        <button class="btn btn-brown" type="button">
                            Ochutnejte
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        {% set routerBlocks = [
            {
                title: "Nadpis bloku",
                text: "Nulla est. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Duis risus.",
                icon: "/catalog/view/theme/diplomtheme/images/ico-kde-koupite.svg",
                link: "#",
                linkText: "Více"
            },
            {
                title: "Nadpis bloku",
                text: "Nulla est. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Duis risus.",
                icon: "/catalog/view/theme/diplomtheme/images/ico-kde-koupite.svg",
                link: "#",
                linkText: "Více"
            },
            {
                title: "Nadpis bloku",
                text: "Nulla est. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Duis risus.",
                icon: "/catalog/view/theme/diplomtheme/images/ico-kde-koupite.svg",
                link: "#",
                linkText: "Více"
            },
            {
                title: "Nadpis bloku",
                text: "Nulla est. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Duis risus.",
                icon: "/catalog/view/theme/diplomtheme/images/ico-kde-koupite.svg",
                link: "#",
                linkText: "Více"
            }
        ] %}
        <div class="router">
            {% for block in routerBlocks %}
                <div class="router-item">
                    <div class="router-img">
                        <img src="{{ block.icon }}" alt="{{ block.title }}">
                    </div>
                    <h2 class="router-title">{{ block.title }}</h2>
                    <p class="router-text">{{ block.text|raw }}</p>
                    <a href="{{ block.link }}" class="btn btn-brown">{{ block.linkText }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="imageHeader" style="background-image: url('/catalog/view/theme/diplomtheme/images/bg-divider.jpg')">
        <div class="container">
            <h1 class="imageHeader-title">Nadpis nadpis</h1>
            <p class="imageHeader-text">Podnadpis podnadpis podnadpis podnadpis podnadpis</p>
        </div>
    </div>
    <div class="homepage-products">
        <div class="container">
            <div class="homepage-products-grid">
                {{ content_bottom }}
            </div>
            {% set reviews = [
                {
                    "text": "Phasellus et lorem id felis nonummy placerat. Praesent dapibus. Nam quis nulla. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Etiam sapien elit, consequat eget.",
                    "author": "Jan Novák"
                },{
                    "text": "Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem.",
                    "author": "Jana Velká"
                }
            ] %}
            {% if reviews|length >= 1 %}
                <div class="homepage-products-reference">
                    <div class="referenceBox">
                        <h2 class="referenceBox-title">Z vašich úst</h2>
                        <div id="referenceSlider" class="owl-carousel">
                            {% for review in reviews %}
                                <div class="referenceBox-slide">
                                    <p class="referenceBox-text">{{ review.text }}</p>
                                    <span class="referenceBox-name">{{ review.author }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="referenceBox-controls">
                            <span class="arr arr-prev view-transparent referenceBox-controls-prev"
                                  id="referenceSlider-prev">
                                <i class="fa fa-chevron-left"></i>
                            </span>
                            <a href="#" class="btn btn-black-transparent">Reference</a>
                            <span class="arr arr-next view-transparent referenceBox-controls-next"
                                  id="referenceSlider-next">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="homepage-products-all">
            <a href="#" class="btn btn-brown">Všechny produkty</a>
        </div>
    </div>
    <div class="homepage-news">
        <div class="container">
            <div class="sectionTitle">
                <span class="sectionTitle-secondary">Buďte v obraze</span>
                <h2 class="sectionTitle-primary">Novinky a aktuality</h2>
            </div>
            {% set news = [
                {
                    "date_added": "30. 11. 2018",
                    "link": "/index.php?route=article/detail",
                    "title": "Název novější novinky",
                    "text": "In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Integer in sapien."
                },
                {
                    "date_added": "25. 11. 2018",
                    "link": "/index.php?route=article/detail",
                    "title": "Název novinky",
                    "text": "In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Integer in sapien."
                }
            ] %}
            {% for news_item in news %}
                <div class="news-block">
                    <div class="news-date">{{ news_item.date_added }}</div>
                    <div class="news-content">
                        <a href="{{ news_item.link }}">
                            <h3 class="news-title">
                                {{ news_item.title }}
                            </h3>
                        </a>
                        <p class="news-text">{{ news_item.text }}&hellip;</p>
                    </div>
                </div>
            {% endfor %}
            <div class="news-more">
                <a href="/index.php?route=article/list" class="btn btn-white btn-round">Další novinky</a>
            </div>
        </div>
    </div>
    <div class="homepage-magazin">
        <div class="container">
            <div class="sectionTitle">
                <span class="sectionTitle-secondary">Něco ke čtení</span>
                <h2 class="sectionTitle-primary">Nutspread magazín</h2>
            </div>
            <div class="homepage-magazin-grid">
                {% set magazine = [
                    {
                        "link": "/index.php?route=article/detail",
                        "image": "//via.placeholder.com/320x170",
                        "title": "Název článku",
                        "created": "2. 10. 2017",
                        "comments": 2
                    },
                    {
                        "link": "/index.php?route=article/detail",
                        "image": "//via.placeholder.com/320x170",
                        "title": "Dlouhý název dalšího článku",
                        "created": "17. 4. 2017",
                        "comments": 0
                    }
                ] %}
                {% for article in magazine %}
                    <div class="homepage-magazin-grid-block">
                        <a href="{{ article.link }}" class="articleSmall">
                            <div class="articleSmall-image">
                                <img src="{{ article.image }}" alt="{{ article.title }}">
                            </div>
                            <div class="articleSmall-content">
                                <h3 class="articleSmall-title">{{ article.title }}</h3>
                                <span class="articleSmall-text">{{ article.created }} | {{ article.comments }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{ footer }}