{% if categories %}
        {% for category in categories %}
        <li class="menu-item">
          <a href="{{ category.href }}">{{ category.name }}</a>
        </li>
        {% endfor %}
{% endif %} 